<html>
	<head>
		<title>Pilotfish Innovation Platform</title>
		
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
		<script type="text/javascript" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
		<script type="text/javascript" src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel = "shortcut icon" href="{{url_for('static', filename='pilotfishicon.ico')}}">
		
		
		<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/be7019ee387/integration/bootstrap/3/dataTables.bootstrap.css">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='style/css/media.css') }}">
		
	</head>
	<body>
		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class = "flashes">
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}
		<div class="navbar navbar-default navbar-inverse" role="navigation" id = "navBar">
			<div class = "container">
				<a class="navbar-brand" href="/home"><img src="{{ url_for('static', filename='style/etc/LogoToolbar.png') }} " height = "64" width = "64"></a>
				<ul class="nav navbar-nav">
					<li><a href="/discussions">Discussions</a></li>
					<li><a href="/campaigns">Campaigns</a></li>
					<li><a href="/ventures">Ventures</a></li>
					<li><a href="/persons">People</a></li>
					
					
				</ul>
				<div class = "header">
					<ul class="nav navbar-nav navbar-right">
					{% if not g.user.is_authenticated() %}
						<li><a href = "/signup" id="openSignUp">Sign Up</a></li>
						<li><a href = "/login" id="openLogIn">Log In</a></li>
					{% else %}
						<li class = "active"><a href = "/persons/{{g.user.get_id()}}">{{g.user}}</a></li>
						<li><a href = "/logout" id="openLogIn">Log Out</a></li>
					{% endif %}
					</ul>
				</div>
			</div>
		</div>
		<div class = "container">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>