{% extends "base.html" %}

{% block content %}
<div class="page-header">Welcome to Pilot Fish Innovation Platform</div>
<label for="getting_started">Introduction</label>
<p><iframe width="854" height="510" src="//www.youtube.com/embed/9CZq9CX70d8" frameborder="0" allowfullscreen></iframe></p>
<hr>
<label for="getting_started">Getting Started</label>
<p><iframe width="854" height="510" src="//www.youtube.com/embed/KY785Ar1Rl4" frameborder="0" allowfullscreen></iframe></p>
<hr>
<label for="getting_started">Discussions</label>
<p><iframe width="854" height="510" src="//www.youtube.com/embed/C4hWZH-r6E8" frameborder="0" allowfullscreen></iframe></p>
<hr>
<label for="getting_started">Campaigns</label>
<p><iframe width="854" height="510" src="//www.youtube.com/embed/krgrmcmo-ho" frameborder="0" allowfullscreen></iframe></p>
{% endblock %}