{% extends "base.html" %}

{% block content %}
	<div class="login-outer-wrapper">
		<img src="{{url_for('static', filename = 'style/etc/LoginLogo.png')}}">
		<form method="post">
			{{form.hidden_tag()}}
			{{form.PersonID(placeholder="Username")}}
			{{form.Password(placeholder="Password")}}
			<label>
				<input type="checkbox" value="remember-pw" name="remember-pw"><span>remember me on this computer</span>
			</label>
			<div class="wrapper">
				<Input type="submit" value = "Log In">
			</div>
		</form>
		<form action="{{url_for('sign_up')}}"><div class="wrapper"><button type="submit" id="signup">Sign Up</button></div></form>
	</div>

<script type="text/javascript">
	document.getElementsByTagName('body')[0].className+=' login'
</script>
{% endblock %}