{% extends "base.html" %}

{% block content %}
<h3>Sign In</h3>
<form action="" method="post" name="login">
	{{form.hidden_tag()}}
	<p>
		PersonID:{{form.PersonID(size=20)}}
		Password:{{form.Password(size=20)}}
	<hr>
		First Name:{{form.FirstName(size=20)}}
		Last Name:{{form.LastName(size=20)}}
	<hr>
		Department:{{form.Department(size=20)}}
		Position:{{form.Position(size=20)}}
		Office:{{form.Office(size=20)}}
	<hr>
		Skills:{{form.Skill1(size=20)}} {{form.Skill2(size=20)}} {{form.Skill3(size=20)}}
	<hr>
		Interests:{{form.Interest1(size=20)}} {{form.Interest2(size=20)}}
	<hr>
		Email:{{form.Email(size=20)}}
		Phone Number:{{form.PhoneNumber(size=20)}}
	</p>
    <p><input type="submit" value="Sign Up"></p>
</form>
{% endblock %}