{% extends "base.html" %}

{% block content %}
<div class="page-header"><h3>{{campaign.CampaignTitle}}</h3></div>
<div>
	<h3>Created on:</h3> {{campaign.DatePosted}}<br>
	<h3>By:</h3><a href="/persons/{{campaign.Person.PersonID}}">{{campaign.Person.FirstName}} {{campaign.Person.LastName}}</a><br>
	<h3>Contributions:</h3><b>{{campaign.getContributionSum()}}</b> points from <b>{{campaign.getNumBackers()}}</b> backers<br>
	<h3>Created on:</h3> {{campaign.DatePosted}}<br>
	<h3>Description:</h3> {{campaign.ShortDesc}}<br>
</div>
<div id = "ventureDialog" title = "Turn {{campaign.CampaignTitle}} into a venture">
	<form method = "post" >
		<p>
			Venture Title:<input type = "text" name = "newVentureTitle" value = "{{campaign.CampaignTitle}}" readonly />
		</p>
		<p>
			Short Description:<input type = "text" name = "newVentureShort" value = "{{campaign.ShortDesc}}" readonly />
		</p>
		<p>
			Created by:<input type = "text" name = "newVentureCreator" value = "{{campaign.Person.FirstName}} {{campaign.Person.LastName}}" readonly />
		</p>
		<p>
			Backed by:<input type = "text" name = "newVentureBackers" value = "{{campaign.getNumBackers()}}" readonly />
		</P>
		<p>
			Skills:<input type = "text" name = "newSkill1" id = "newSkill1" /> <input type = "text" name = "newSkill2" id = "newSkill2" /> <input type = "text" name = "newSkill3" id = "newSkill3" />
		</p>
		<p>
			Describe this venture:<br>
			<textarea>
			</textarea>
		</p>
	</form>
</div>
<div id = "contributeDialog" title = "Contribute to {{campaign.CampaignTitle}}!">
	<form method = "post" >
		<p>
			Campaign Title: <input type = "text" name = "campaignTitle" value = "{{campaign.CampaignTitle}}" readonly style="border:0; font-weight:bold;"/>
		</p>
		<p>
		  <label for="amount">Contribution amount (5 point increments):</label>
		  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		</p>
		<div id="slider"></div>
	</form>
</div>
{% if g.user.get_id() == campaign.Person.PersonID %}
	{% if campaign.getContributionSum() >= 250 %}
	<button id="openVenture" class = "btn btn-primary">Turn me into a venture!</button>
	{% endif %}
{% elif g.user.is_authenticated() %}
<button id="openContribute" class = "btn btn-primary">Help me become a venture!</button>
{% endif %}
<script type = "text/javascript">
$(document).ready (function() {
	$( "#ventureDialog" ).dialog({
		width: 'auto',
		autoOpen: false,
		modal: true
    });
	
	$( "#contributeDialog" ).dialog({
		width: 'auto',
		autoOpen: false,
		modal: true
    });
	
    $( "#openVenture" ).button().click(function() {
		$( "#ventureDialog" ).dialog( "open" );
    });
	
	$( "#openContribute" ).button().click(function() {
		
		$( "#contributeDialog" ).dialog( "open" );
    });
	
	$( "#slider" ).slider({
      value:0,
      min: 0,
      max: 100,
      step: 5,
      slide: function( event, ui ) {
        $( "#amount" ).val( ui.value );
      }
    });
	
    $( "#amount" ).val( $( "#slider" ).slider( "value" ) );
});
</script>
{% endblock %}