{% extends "base.html" %}

{% block content %}
<div class="page-header NormalCharacterStyle2">{{person.FirstName}} {{person.LastName}}</div>
<div class = "row">
	<div class = "col-md-8">
		<p>
			<h4>Created Projects:</h4>
			<table id="campaigns_made" class="table table-striped table-bordered">
				<thead>
				<tr>
					<th align="left">Title</th>
					<th align="left">Date Posted</th>
					<th align="left">Contributions</th>
					<th align="left">Backers</th>
				</tr>
				</thead>
				
				<tbody>
				{% for instance in person.Campaigns %}
				<tr>
					<td><a href="/campaigns/{{instance.CampaignTitle|urlencode()}}">{{instance.CampaignTitle}}</a></td>
					<td>{{instance.DatePosted}}</td>
					<td>{{instance.getContributionSum()}}</td>
					<td>{{instance.getNumBackers()}}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
		</p>
		<p>
			<h4>Backed Projects:</h4>
			<table id="contributed_to" class="table table-striped table-bordered">
				<thead>
				<tr>
					<th align="left">Title</th>
					<th align="left">Date Contributed</th>
					<th align="left">Contribution</th>
				</tr>
				</thead>
				
				<tbody>
				{% for instance in contributed_to %}
				<tr>
					<td><a href="/campaigns/{{instance.CampaignName|urlencode()}}">{{instance.CampaignName}}</a></td>
					<td>{{instance.SubTime.strftime("%A, %d. %B %Y %I:%M%p")}}</td>
					<td>{{instance.Contribution}}</td>
				</tr>
				{% endfor %}
				</tbody>
			</table>
			<script type="text/javascript">
			$(document).ready(function() {
				$('#campaigns_made').dataTable({
					"info": false,
					"paging": false,
					"aoColumns": [
						null,
						null,
						{ "bSearchable": false },
						{ "bSearchable": false }
					]
				});
				
				$('#contributed_to').dataTable({
					"info": false,
					"paging": false,
					"aoColumns": [
						null,
						null,
						{ "bSearchable": false }
					]
				});
			} );
			</script>
		</p>
	</div>
	<div class = "col-md-4">
		<h4>Department:</h4> {{person.Department}}<br>
		<h4>Line of Service:</h4> {{person.Position}}<br>
		<h4>Phone:</h4> {{person.PhoneNumber}}<br>
		<h4>Email:</h4> {{person.Email}}<br>
		<h4>This month's contributions:</h4> {{person.get_monthly_contribution()}}<br>
	</div>
</div>
{% endblock %}