{% extends "base.html" %}

{% block content %}
<div class="page-header"><h4>{{campaign.CampaignTitle}}</h4></div>
<div>
	<h4>Created on:</h4> {{campaign.DatePosted}}<br>
	<h4>By:</h4><a href="/persons/{{campaign.Person.PersonID}}">{{campaign.Person.FirstName}} {{campaign.Person.LastName}}</a><br>
	<h4>Contributions:</h4><b>{{campaign.getContributionSum()}}</b> points from <b>{{campaign.getNumBackers()}}</b> backers<br>
	<h4>Description:</h4> {{campaign.Description}}<br>
</div>
<hr>

{% if g.user.is_authenticated() %}
{% if g.user.get_id() == campaign.Person.PersonID %}
	{% if campaign.getContributionSum() >= 250 %}
	
	<div class="modal fade" id="ventureModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Turn {{campaign.CampaignTitle}} into a venture</h4>
				</div>
				<form method = "post" >
					<div class="modal-body">
						<p>
							Venture Title:<input type = "text" name = "newVentureTitle" value = "{{campaign.CampaignTitle}}" readonly />
						</p>
						<p>
							Short Description:<input type = "text" name = "newVentureShort" value = "{{campaign.Description}}" readonly />
						</p>
						<p>
							Created by:<input type = "text" name = "newVentureCreator" value = "{{campaign.Person.FirstName}} {{campaign.Person.LastName}}" readonly />
						</p>
						<p>
							Backed by:<input type = "text" name = "newVentureBackers" value = "{{campaign.getNumBackers()}}" readonly />
						</P>
						<p>
							Skills:<input type = "text" name = "newSkill1" id = "newSkill1" /> <input type = "text" name = "newSkill2" id = "newSkill2" /> <input type = "text" name = "newSkill3" id = "newSkill3" />
						</p>
						<p>
							Describe this venture:<br>
							<textarea>
							</textarea>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Submit Venture</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<button id="openVenture" class = "btn btn-primary">Turn me into a venture!</button>
	{% endif %}
{% else %}
	<div class="modal fade" id="contributeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title" id="myModalLabel">Contribute to {{campaign.CampaignTitle}}!</h4>
				</div>
				<form action="{{url_for('campaign_info', name = campaign.CampaignTitle)}}" method = "post" >
					<div class="modal-body">
						<p>
							Campaign Title: <input type = "text" name = "campaignTitle" value = "{{campaign.CampaignTitle}}" readonly style="border:0; font-weight:bold;" size="70"/>
						</p>
						<p>
						  <label for="amount">Contribution amount (5 point increments):</label>
						  <input type="text" name="amount" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;" />
						</p>
						<p>
							<div id="slider"></div>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary" name = "btn" value="Contribute">Contribute</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<button id="openContribute" class = "btn btn-primary">Help me become a venture!</button>
{% endif %}
<p>
	<form method="post" id = "comment_submitter">
	   {{form.hidden_tag()}}
	   <dl>
		  <dt>Leave a comment:
		  <dd>{{ form.body(cols="70", rows="5") }}
	   </dl>
	   <p>
		  <button type="submit" name = "btn" value = "Comment" class = "btn btn-warning">Submit Comment</button>
	</form>
</p>
{% endif %}
{% if comments %}
<ul class="media-list">
{% for instance in comments %}
	<li class = "media">
		<a class="pull-left" href="#">
			<img class="media-object" src="http://1.gravatar.com/avatar/ad516503a11cd5ca435acc9bb6523536?s=96" alt="Generic placeholder image" height = "64" width = "64">
        </a>
		<div class="media-body">
			<Strong class="media-heading">{{instance.Commentator.FirstName}} {{instance.Commentator.LastName}}</Strong> on {{instance.SubTime.strftime("%A, %d. %B %Y %I:%M%p")}}:
			<p>{{instance.Content}}</p>
		</div>
    </li>
{% endfor %}
</ul>
{% endif %}

<Strong>{% if page > 1 %}
	<a href="{{ url_for('campaign_info', name = campaign.CampaignTitle, page = page - 1) }}"><span class = "glyphicon glyphicon-chevron-left"></span>Newer posts</a>
{% else %}
	<span class = "glyphicon glyphicon-chevron-left"></span>Newer posts
{% endif %}<b>|||</b>
{% if previous_exists %}
	<a href="{{ url_for('campaign_info', name = campaign.CampaignTitle, page = page + 1) }}">Older posts<span class = "glyphicon glyphicon-chevron-right"></span></a>
{% else %}
	Older posts<span class = "glyphicon glyphicon-chevron-right"></span>
{% endif %}
</Strong>

<script type = "text/javascript">
$(document).ready (function() {

	
	{% if g.user.is_authenticated() %}
		{% if g.user.get_id() == campaign.Person.PersonID %}
			{% if campaign.getContributionSum() >= 250 %}
				$( "#openVenture" ).button().click(function() {
					$("#ventureModal").modal('show');
				});
			{% endif %}
		{% else %}
			$( "#openContribute" ).button().click(function() {
				$( "#contributeModal" ).modal( "show" );
			});
			
			$( "#slider" ).slider({
				value:0,
				min: 0,
				max: {{contribute_limit}},
				step: 5,
				slide: function( event, ui ) {
				$( "#amount" ).val( ui.value );
			  }
			});
			
			$( "#amount" ).val( $( "#slider" ).slider( "value" ) );
		{% endif %}
	{% endif %}
});
</script>
{% endblock %}