{% extends "base.html" %}

{% block content %}
<div class="page-header"><h4>{{campaign.CampaignTitle}}</h4></div>
<div>
	<h4>Created on:</h4> {{campaign.DatePosted}}<br>
	<h4>By:</h4><a href="/persons/{{campaign.Person.PersonID}}">{{campaign.Person.FirstName}} {{campaign.Person.LastName}}</a><br>
	<h4>Contributions:</h4><b>{{campaign.getContributionSum()}}</b> points from <b>{{campaign.getNumBackers()}}</b> backers<br>
	<h4>Created on:</h4> {{campaign.DatePosted}}<br>
	<h4>Description:</h4> {{campaign.Description}}<br>
</div>
<hr>
<div id = "ventureDialog" title = "Turn {{campaign.CampaignTitle}} into a venture">
	<form method = "post" >
		<p>
			Venture Title:<input type = "text" name = "newVentureTitle" value = "{{campaign.CampaignTitle}}" readonly />
		</p>
		<p>
			Short Description:<input type = "text" name = "newVentureShort" value = "{{campaign.Description}}" readonly />
		</p>
		<p>
			Created by:<input type = "text" name = "newVentureCreator" value = "{{campaign.Person.FirstName}} {{campaign.Person.LastName}}" readonly />
		</p>
		<p>
			Backed by:<input type = "text" name = "newVentureBackers" value = "{{campaign.getNumBackers()}}" readonly />
		</P>
		<p>
			Skills:<input type = "text" name = "newSkill1" id = "newSkill1" /> <input type = "text" name = "newSkill2" id = "newSkill2" /> <input type = "text" name = "newSkill3" id = "newSkill3" />
		</p>
		<p>
			Describe this venture:<br>
			<textarea>
			</textarea>
		</p>
	</form>
</div>
{% if g.user.is_authenticated() %}
<div id = "contributeDialog" title = "Contribute to {{campaign.CampaignTitle}}!">
	<form action="{{url_for('campaign_info', name = campaign.CampaignTitle)}}" method = "post" >
		<p>
			Campaign Title: <input type = "text" name = "campaignTitle" value = "{{campaign.CampaignTitle}}" readonly style="border:0; font-weight:bold;"/>
		</p>
		<p>
		  <label for="amount">Contribution amount (5 point increments):</label>
		  <input type="text" name="amount" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;" />
		</p>
		<p>
			<div id="slider"></div>
		</p>
		<button type="submit" name = "btn" value="Contribute">Contribute</button>
	</form>
</div>
{% if g.user.get_id() == campaign.Person.PersonID %}
	{% if campaign.getContributionSum() >= 250 %}
	<button id="openVenture" class = "btn btn-primary">Turn me into a venture!</button>
	{% endif %}
{% else %}
	<button id="openContribute" class = "btn btn-primary">Help me become a venture!</button>
{% endif %}
<p>
	<form method="post" id = "comment_submitter">
	   {{form.hidden_tag()}}
	   <dl>
		  <dt>Leave a comment:
		  <dd>{{ form.body(cols="70", rows="5") }}
	   </dl>
	   <p>
		  <button type="submit" name = "btn" value = "Comment" class = "btn btn-warning">Submit Comment</button>
	</form>
</p>
{% endif %}
{% if comments %}
	{% for instance in comments %}
	<div class="media">
		<div class="media-body">
			<h4 class="media-heading">{{instance.Commentator.FirstName}} {{instance.Commentator.LastName}}</h4> on {{instance.SubTime.strftime("%A, %d. %B %Y %I:%M%p")}}:
			<BlockQuote>{{instance.Content}}</BlockQuote>
		</div>
    </div>
	{% endfor %}
{% endif %}

{% if page > 1 %}<a href="{{ url_for('campaign_info', name = campaign.CampaignTitle, page = page - 1) }}"><span class = "glyphicon glyphicon-chevron-left">Newer posts</span></a>
{% else %}<span class = "glyphicon glyphicon-chevron-left">Newer posts{% endif %} | 
<a href="{{ url_for('campaign_info', name = campaign.CampaignTitle, page = page + 1) }}">Older posts<span class = "glyphicon glyphicon-chevron-right"></span></a>

<script type = "text/javascript">
$(document).ready (function() {
	$( "#ventureDialog" ).dialog({
		width: 'auto',
		autoOpen: false,
		modal: true
    });

    $( "#openVenture" ).button().click(function() {
		$( "#ventureDialog" ).dialog( "open" );
    });
	
	{% if g.user.is_authenticated() %}
	
	$( "#contributeDialog" ).dialog({
		width: 'auto',
		autoOpen: false,
		modal: true
    });
	
	$( "#openContribute" ).button().click(function() {
		
		$( "#contributeDialog" ).dialog( "open" );
    });
	
	$( "#slider" ).slider({
		value:0,
		min: 0,
		max: {{contribute_limit}},
		step: 5,
		slide: function( event, ui ) {
        $( "#amount" ).val( ui.value );
      }
    });
	
    $( "#amount" ).val( $( "#slider" ).slider( "value" ) );
	
	{% endif %}
});
</script>
{% endblock %}